{% extends 'layout.html.twig' %}
{% block script %}
    <script src="/src/script/OpenFormulaire.js"></script>
    <script src="/src/script/FiltrerMusique.js"></script>
    <script src="/src/script/CreerModifierPlaylist.js"></script>
{% endblock %}

{% block content %}
<h3>c'est ici qu'on va crée des playlist</h3>

<p data-placement="top" data-toggle="tooltip" title="form"><button class="btn btn-danger btn-s" data-title="form" data-toggle="modal" data-target="#form" ><img src="/src/views/img/edit.png" class="img-thumbnail"></button></p>


    <div>
        <button class="filterButton" id="All"> Show all</button>
        <p id="buttons"></p>
    </div>

    <div class="rechercheBar">
        <input type=text  id="rechercheChamp" placeholder="titre, artiste, genre..."></input>
        <button type=submit id="rechercheButton">Rechercher</button>
    </div>
    
    {% set selectmusic = [] %}

    {% set i = 0 %}

<hr>
<form action="/createPlaylist" method="POST">
<div class="row" id="CatalogueMusic">
        
    {% for musique in musiques %}


    <div class="cardMusic card col-sm-2" titreMusic="{{ musique.title }}" artisteMusic="{{ musique.artistName }}" albumMusic="{{ musique.albumTitle }}">
    
    
        <div id="image img-fluid img-thumbnail">
         <img src="{{musique.albumPic}}" alt="#">
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ musique.title }} </h5>
            <h5 class="card-title"> {{ musique.artistName }} </h5>
            <p class="card-text">     {{musique.albumTitle}}</p>
            <input type="checkbox" name="id_musique[{{i}}]" value="{{musique.id}}"/><label>selectionne</label>
            {# {% set selectmusic = selectmusic|merge([musique]) %} #}
        </div>
    </div>

    {% set i = i+1 %}

    {% endfor %}
</div>


<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Info playlist</h4>
            </div>
            
                <div class="modal-body">

                    <div class="form-group">
                        <label>Nom de la playlist</label>
                        <input type="text" name="nom" id="nom" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Description de la playlist</label>
                        <input type="text" name="description" id="description">
                    </div>
                    
                    <div class="form-group">
                        <label>Créateur de la playlist</label>
                        <input type="text" name="auteur" id="auteur" required>
                    </div>

                    <div class="form-group">
                        <label>adresse de l'image</label>
                        <input type="text" name="image_playlist" id="image_playlist">
                    </div>
                    {# {% set i = 0 %} #}
                    {# {% for select in selectmusic %} #}

                    
                    {# <h5> {{ select.titre }} </h5> #}
                    
                    {# <input name="id_musique[{{i}}]" value="{{select.id}}"> #}

                    {# {% set i = i+1 %} #}
                    
                    {# {% endfor %} #}
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" ><span class="glyphicon glyphicon-ok-sign"></span>Finir</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Retour</button>
                </div>
            </form>
        </div>  <!-- /.modal-content --> 
    </div> <!-- /.modal-dialog --> 
</div>

{% endblock %}

